<a href="https://colab.research.google.com/github/dmburns1729/Class-Files/blob/main/Feature_Engineering_Exercise_(Core).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.preprocessing import PolynomialFeatures, StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import make_column_transformer, make_column_selector
from sklearn.pipeline import make_pipeline
from sklearn.metrics import mean_absolute_error, r2_score, mean_squared_error, \
precision_score, recall_score, accuracy_score, f1_score, ConfusionMatrixDisplay, \
classification_report

In [ ]:
df = pd.read_csv('/content/bikeshare_train - bikeshare_train.csv')
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 0:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 1:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 2:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 3:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 4:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [ ]:
# Make a copy of the data for cleaning
df_clean=df.copy()

In [ ]:
df_clean = df_clean.drop(columns=['casual', 'registered'])

In [ ]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  object
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   count       10886 non-null  int64
dtypes: float64(3), int64(6), object(1)
memory usage: 850.6+ KB

In [ ]:
df_clean['datetime'] = pd.to_datetime(df_clean['datetime'])
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  datetime64[ns]
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   count       10886 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(6)
memory usage: 850.6 KB

In [ ]:
df_clean['month_name'] = df_clean['datetime'].dt.month_name()
df_clean['day_of_week'] = df_clean['datetime'].dt.day_name()
df_clean['hour_of_day'] = df_clean['datetime'].dt.hour

df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   datetime     10886 non-null  datetime64[ns]
 1   season       10886 non-null  int64
 2   holiday      10886 non-null  int64
 3   workingday   10886 non-null  int64
 4   weather      10886 non-null  int64
 5   temp         10886 non-null  float64
 6   atemp        10886 non-null  float64
 7   humidity     10886 non-null  int64
 8   windspeed    10886 non-null  float64
 9   count        10886 non-null  int64
 10  month_name   10886 non-null  object
 11  day_of_week  10886 non-null  object
 12  hour_of_day  10886 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(2)
memory usage: 1.1+ MB

In [ ]:
df_clean['hour_of_day'] = df_clean['hour_of_day'].astype('object')

In [ ]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   datetime     10886 non-null  datetime64[ns]
 1   season       10886 non-null  int64
 2   holiday      10886 non-null  int64
 3   workingday   10886 non-null  int64
 4   weather      10886 non-null  int64
 5   temp         10886 non-null  float64
 6   atemp        10886 non-null  float64
 7   humidity     10886 non-null  int64
 8   windspeed    10886 non-null  float64
 9   count        10886 non-null  int64
 10  month_name   10886 non-null  object
 11  day_of_week  10886 non-null  object
 12  hour_of_day  10886 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(6), object(3)
memory usage: 1.1+ MB

In [ ]:
df_clean = df_clean.drop(columns=['datetime', 'season'])
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   holiday      10886 non-null  int64
 1   workingday   10886 non-null  int64
 2   weather      10886 non-null  int64
 3   temp         10886 non-null  float64
 4   atemp        10886 non-null  float64
 5   humidity     10886 non-null  int64
 6   windspeed    10886 non-null  float64
 7   count        10886 non-null  int64
 8   month_name   10886 non-null  object
 9   day_of_week  10886 non-null  object
 10  hour_of_day  10886 non-null  object
dtypes: float64(3), int64(5), object(3)
memory usage: 935.6+ KB

In [ ]:
df_clean['temp'] = df_clean['temp'].apply(lambda x: x*9/5+32)

In [ ]:
df_clean['atemp'] = df_clean['atemp'].apply(lambda x: x*9/5+32)

In [ ]:
df_clean.head()

,holiday,workingday,weather,temp,atemp,humidity,windspeed,count,month_name,day_of_week,hour_of_day
0,0,0,1,49.712,57.911,81,0.0,16,January,Saturday,0
1,0,0,1,48.236,56.543,80,0.0,40,January,Saturday,1
2,0,0,1,48.236,56.543,80,0.0,32,January,Saturday,2
3,0,0,1,49.712,57.911,75,0.0,13,January,Saturday,3
4,0,0,1,49.712,57.911,75,0.0,1,January,Saturday,4

In [ ]:
df_clean['temp_variance'] = df_clean['atemp'] - df_clean['temp']

In [ ]:
df_clean.head()

,holiday,workingday,weather,temp,atemp,humidity,windspeed,count,month_name,day_of_week,hour_of_day,temp_variance
0,0,0,1,49.712,57.911,81,0.0,16,January,Saturday,0,8.199
1,0,0,1,48.236,56.543,80,0.0,40,January,Saturday,1,8.307
2,0,0,1,48.236,56.543,80,0.0,32,January,Saturday,2,8.307
3,0,0,1,49.712,57.911,75,0.0,13,January,Saturday,3,8.199
4,0,0,1,49.712,57.911,75,0.0,1,January,Saturday,4,8.199

In [ ]:
df_clean = df_clean.drop(columns=['temp', 'atemp'])

In [ ]:
df_clean.head()

,holiday,workingday,weather,humidity,windspeed,count,month_name,day_of_week,hour_of_day,temp_variance
0,0,0,1,81,0.0,16,January,Saturday,0,8.199
1,0,0,1,80,0.0,40,January,Saturday,1,8.307
2,0,0,1,80,0.0,32,January,Saturday,2,8.307
3,0,0,1,75,0.0,13,January,Saturday,3,8.199
4,0,0,1,75,0.0,1,January,Saturday,4,8.199

In [ ]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   holiday        10886 non-null  int64
 1   workingday     10886 non-null  int64
 2   weather        10886 non-null  int64
 3   humidity       10886 non-null  int64
 4   windspeed      10886 non-null  float64
 5   count          10886 non-null  int64
 6   month_name     10886 non-null  object
 7   day_of_week    10886 non-null  object
 8   hour_of_day    10886 non-null  object
 9   temp_variance  10886 non-null  float64
dtypes: float64(2), int64(5), object(3)
memory usage: 850.6+ KB

# Model

In [ ]:
df_clean['count'].value_counts()

5      169
4      149
3      144
6      135
2      132
      ...
801      1
629      1
825      1
589      1
636      1
Name: count, Length: 822, dtype: int64

In [ ]:
# I am going to use some sort of regression model since there are so many values to choose from

In [ ]:
df_ml = df_clean.copy()

# split X and y, we are predicting drug
X = df_ml.drop(columns=['count'])
y = df_ml['count']

# split training and test
# set random_state to 42 for reproducibility
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [ ]:
#instantiate the StandardScaler, OneHotEncoder, and Imputers
scaler = StandardScaler()
ohe = OneHotEncoder(sparse=False, handle_unknown='ignore')

mean_imputer = SimpleImputer(strategy='mean')
freq_imputer = SimpleImputer(strategy='most_frequent')
# Setup the pipelines for the numeric and categorical data

num_pipeline = make_pipeline(mean_imputer, scaler)
nom_pipeline = make_pipeline(freq_imputer, ohe)

# Selectors
num_selector = make_column_selector(dtype_include='number')
nom_selector = make_column_selector(dtype_include='object')

# Setup the tuples to pair the processors with the make column selectors

numeric_tuple = (num_pipeline, num_selector)
nominal_tuple = (nom_pipeline, nom_selector)

# Instantiate the make column transformer
preprocessor = make_column_transformer(numeric_tuple,
                                       nominal_tuple,
                                       remainder='drop')

In [ ]:
%%time
from lightgbm import LGBMRegressor

# fit and evaluate LinearRegression
model = LGBMRegressor()
model_pipe = make_pipeline(preprocessor, model)
model_pipe.fit(X_train, y_train)

CPU times: user 164 ms, sys: 5.02 ms, total: 170 ms
Wall time: 169 ms

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(transformers=[('pipeline-1',
                                                  Pipeline(steps=[('simpleimputer',
                                                                   SimpleImputer()),
                                                                  ('standardscaler',
                                                                   StandardScaler())]),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x7f5c26be4190>),
                                                 ('pipeline-2',
                                                  Pipeline(steps=[('simpleimputer',
                                                                   SimpleImputer(strategy='most_frequent')),
                                                                  ('onehotencoder',
                                                                   OneHotEncoder(handle_unknown='ignore',
                                                                                 sparse=False))]),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x7f5c26be4fd0>)])),
                ('lgbmregressor', LGBMRegressor())])

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

train_pred = model_pipe.predict(X_train)
test_pred = model_pipe.predict(X_test)


def eval_regression(true, pred):
  """Takes true and predicted values (arrays) and prints MAE, MSE, RMSE and R2"""
  mean = y_train.mean()
  mae = mean_absolute_error(true, pred)
  mse = mean_squared_error(true, pred)
  rmse = np.sqrt(mse)
  r2 = r2_score(true, pred)

  print(f'Mean {mean}\nMAE {mae},\nMSE {mse},\nRMSE: {rmse},\nR^2: {r2} ')

In [ ]:
eval_regression(y_test, test_pred)

Mean 191.33978441940226
MAE 51.31772597657709,
MSE 5256.924338377939,
RMSE: 72.5046504603528,
R^2: 0.8397964918962819

In [ ]:
eval_regression(y_train, train_pred)

Mean 191.33978441940226
MAE 45.22733819628869,
MSE 4017.8985850729387,
RMSE: 63.38689600440251,
R^2: 0.8775360671107366